{ns hl7-terminology-r5.value-set.certainty-subcomponent-rating,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "The quality rating of the subcomponent of a quality of evidence rating.",
            :zen.fhir/version "0.6.23-1",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/certainty-subcomponent-rating",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/certainty-subcomponent-rating",
            :version "0.1.0",
            :ftr {:module "hl7-terminology-r5",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
