{ns hl7-terminology-r5.value-set.conformance-expectation,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Indicates the degree of adherence to a specified behavior or capability expected for a system to be deemed conformant with a specification.",
            :zen.fhir/version "0.6.30",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/conformance-expectation",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/conformance-expectation",
            :version "0.3.0",
            :ftr {:module "hl7-terminology-r5",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
