{ns hl7-terminology-r5.value-set.contactentity-type,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "This example value set defines a set of codes that can be used to indicate the purpose for which you would contact a contact party.",
            :zen.fhir/version "0.6.25-1",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/contactentity-type",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/contactentity-type",
            :version "0.5.0",
            :ftr {:module "hl7-terminology-r5",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
