{ns hl7-terminology-r5.value-set.definition-topic,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "High-level categorization of the definition, used for searching, sorting, and filtering.",
            :zen.fhir/version "0.6.30-14",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/definition-topic",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/definition-topic",
            :version "0.2.0",
            :ftr {:module "hl7-terminology-r5",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
