{ns hl7-terminology-r5.value-set.device-kind,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Codes used to identify medical devices. Includes concepts from SNOMED CT (http://www.snomed.org/)    where concept is-a 49062001 (Device)  and is provided as a suggestive example.",
            :zen.fhir/version "0.6.24",
            :fhir/code-systems #{{:fhir/url "http://snomed.info/sct",
                                  :zen.fhir/content :not-present}},
            :uri "http://terminology.hl7.org/ValueSet/device-kind",
            :version "0.2.0",
            :ftr {:module "hl7-terminology-r5",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
