{ns hl7-terminology-r5.value-set.encounter-diet,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "This value set defines a set of codes that can be used to indicate dietary preferences or restrictions a patient may have.",
            :zen.fhir/version "0.6.24",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/diet",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/encounter-diet",
            :version "0.3.0",
            :ftr {:module "hl7-terminology-r5",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
