{ns hl7-terminology-r5.value-set.ex-revenue-center,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "This value set includes sample Revenue Center codes.",
            :zen.fhir/version "0.6.30-7",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/ex-revenue-center",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/ex-revenue-center",
            :version "0.2.0",
            :ftr {:module "hl7-terminology-r5",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
