{ns hl7-terminology-r5.value-set.goal-acceptance-status,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Codes indicating whether the goal has been accepted by a stakeholder.",
            :zen.fhir/version "0.6.27",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/goal-acceptance-status",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/goal-acceptance-status",
            :version "0.3.0",
            :ftr {:module "hl7-terminology-r5",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
