{ns hl7-terminology-r5.value-set.hl7-work-group,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "An HL7 administrative unit that owns artifacts in the FHIR specification.",
            :zen.fhir/version "0.6.29-4",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/hl7-work-group",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/hl7-work-group",
            :version "0.2.0",
            :ftr {:module "hl7-terminology-r5",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
