{ns hl7-terminology-r5.value-set.insuranceplan-type,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "This example value set defines a set of codes that can be used to indicate a type of insurance plan.",
            :zen.fhir/version "0.6.24",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/insurance-plan-type",
                                  :zen.fhir/content :not-present}},
            :uri "http://terminology.hl7.org/ValueSet/insuranceplan-type",
            :version "0.1.0",
            :ftr {:module "hl7-terminology-r5",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
