{ns hl7-terminology-r5.value-set.list-order,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Base values for the order of the items in a list resource.",
            :zen.fhir/version "0.6.25-1",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/list-order",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/list-order",
            :version "0.3.0",
            :ftr {:module "hl7-terminology-r5",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
