{ns hl7-terminology-r5.value-set.list-example-codes,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Example use codes for the List resource - typical kinds of use.",
            :zen.fhir/version "0.6.22-1",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/list-example-use-codes",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/list-example-codes",
            :version "0.3.0",
            :ftr {:module "hl7-terminology-r5",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
