{ns hl7-terminology-r5.value-set.measure-improvement-notation,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Observation values that indicate what change in a measurement value or score is indicative of an improvement in the measured item or scored issue.",
            :zen.fhir/version "0.6.29-4",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/measure-improvement-notation",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/measure-improvement-notation",
            :version "0.1.0",
            :ftr {:module "hl7-terminology-r5",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
