{ns hl7-terminology-r5.value-set.mif-conceptRelationshipReflexivity,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Codes for use in the ext-mif-relationship-reflexivity to capture V3 Model Interchange Format (MIF) SupportedConceptRelationship.reflexivity values",
            :zen.fhir/version "0.6.23-1",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/hl7TermMaintInfra",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/mif-conceptRelationshipReflexivity",
            :ftr {:module "hl7-terminology-r5",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
