{ns hl7-terminology-r5.value-set.POAIndicators,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Concepts that describe whether a condition is present when a patient is admitted to a healthcare facility. ",
            :zen.fhir/version "0.6.30-7",
            :fhir/code-systems #{{:fhir/url "https://www.cms.gov/Medicare/Medicare-Fee-for-Service-Payment/HospitalAcqCond/Coding",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/POAIndicators",
            :version "1.0.0",
            :ftr {:module "hl7-terminology-r5",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
