{ns hl7-terminology-r5.value-set.questionnaire-usage-mode,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Identifies the modes of usage of a questionnaire that should enable a particular questionnaire item.",
            :zen.fhir/version "0.6.25-1",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/questionnaire-usage-mode",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/questionnaire-usage-mode",
            :version "0.2.0",
            :ftr {:module "hl7-terminology-r5",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
