{ns hl7-terminology-r5.value-set.rejection-criteria,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Criterion for rejection of the specimen by laboratory.",
            :zen.fhir/version "0.6.22-2",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/rejection-criteria",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/rejection-criteria",
            :version "0.1.0",
            :ftr {:module "hl7-terminology-r5",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
