{ns hl7-terminology-r5.value-set.service-type,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "This value set defines an example set of codes of service-types.",
            :zen.fhir/version "0.6.29",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/service-type",
                                  :zen.fhir/content :not-present}},
            :uri "http://terminology.hl7.org/ValueSet/service-type",
            :version "0.2.0",
            :ftr {:module "hl7-terminology-r5",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
