{ns hl7-terminology-r5.value-set.smart-capabilities,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Codes that define what the server is capable of.",
            :zen.fhir/version "0.6.22-1",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/smart-capabilities",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/smart-capabilities",
            :version "0.1.0",
            :ftr {:module "hl7-terminology-r5",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
