{ns hl7-terminology-r5.value-set.v2-0350,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Concepts drawn from the National Uniform Billing Committee (NUBC) code for the event or occurrence relating to a bill that may affect payer processing.  Used in Version 2 messaging in the Occurrence Code and Date (OCD) value.",
            :zen.fhir/version "0.6.27",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v2-0350",
                                  :zen.fhir/content :not-present}},
            :uri "http://terminology.hl7.org/ValueSet/v2-0350",
            :version "2.0.0"}}
