{ns hl7-terminology-r5.value-set.v2-notAllCodes-0399,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Value Set of codes that identifies a country of origin for a message.  It will be used primarily to specify default elements, such as currency denominations. The values to be used are those of ISO 3166. The ISO 3166 table has three separate forms for the codes for each country, this value set includes only the 3-character alpha form.",
            :zen.fhir/version "0.6.29-4",
            :fhir/code-systems #{{:fhir/url "urn:iso:std:iso:3166",
                                  :zen.fhir/content :not-present}},
            :uri "http://terminology.hl7.org/ValueSet/v2-notAllCodes-0399",
            :version "2.0.0"}}
