{ns hl7-terminology-r5.value-set.v3-ActStatusNullified,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "This Act instance was created in error and has been 'removed' and is treated as though it never existed. A record is retained for audit purposes only.",
            :zen.fhir/version "0.6.24",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v3-ActStatus",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/v3-ActStatusNullified",
            :version "2.0.0",
            :ftr {:module "hl7-terminology-r5",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
