{ns hl7-terminology-r5.value-set.v3-ActClassRecordOrganizer,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen.fhir/version "0.6.30-7",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v3-ActClass",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/v3-ActClassRecordOrganizer",
            :version "2.0.0"}}
