{ns hl7-terminology-r5.value-set.v3-ActAdjudicationResultActionCode,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Actions to be carried out by the recipient of the Adjudication Result information.",
            :zen.fhir/version "0.6.30-14",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v3-ActCode",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/v3-ActAdjudicationResultActionCode",
            :version "2.0.0"}}
