{ns hl7-terminology-r5.value-set.v3-AdministrationMedicalDevice,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "A device intended to administer a substance to a subject",
            :zen.fhir/version "0.6.31",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v3-EntityCode",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/v3-AdministrationMedicalDevice",
            :version "2.0.0"}}
