{ns hl7-terminology-r5.value-set.v3-ActRelationshipHasSubject,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Relates an Act to its subject Act that the first Act is primarily concerned with.\r\n\r\nExamples\r\n\r\n1.  The first Act may be a ControlAct manipulating the subject Act\r\n2.  The first act is a region of interest (ROI) that defines a region within the subject Act.\r\n3.  The first act is a reporting or notification Act, that echos the subject Act for a specific new purpose.\r\n\r\nConstraints\r\n\r\nAn Act may have multiple subject acts.\r\n\r\nRationale\r\n\r\nThe ActRelationshipType \"has subject\" is similar to the ParticipationType \"subject\", Acts that primarily operate on physical subjects use the Participation, those Acts that primarily operate on other Acts (other information) use the ActRelationship.",
            :zen.fhir/version "0.6.22",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v3-ActRelationshipType",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/v3-ActRelationshipHasSubject",
            :version "2.0.0",
            :ftr {:module "hl7-terminology-r5",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
