{ns hl7-terminology-r5.value-set.v3-EPSG-GeodeticParameterDataset,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "**Description:** The EPSG (European Petroleum Survey Group) dataset represents all Datums, coordinate references (projected and 2D geographic) and coordinate systems (including Cartesian coordinate systems) used in surveying worldwide. Each record includes a 4-8 digit unique identifier. The current version is available from http://www.epsg.org/. The database contains over 4000 records covering spatial data applications worldwide.",
            :zen.fhir/version "0.6.27",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/EPSG-GeodeticParameterDataset",
                                  :zen.fhir/content :not-present}},
            :uri "http://terminology.hl7.org/ValueSet/v3-EPSG-GeodeticParameterDataset",
            :version "2.0.0"}}
