{ns hl7-terminology-r5.value-set.v3-HealthCareCommonProcedureCodingSystem,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "This value set includes all HCPCS Level II codes.",
            :zen.fhir/version "0.6.22-2",
            :fhir/code-systems #{{:fhir/url "https://www.cms.gov/Medicare/Coding/HCPCSReleaseCodeSets",
                                  :zen.fhir/content :not-present}},
            :uri "http://terminology.hl7.org/ValueSet/v3-HealthCareCommonProcedureCodingSystem",
            :version "3.0.0"}}
