{ns hl7-terminology-r5.value-set.v3-IntrapericardialRoute,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Intrapericardial",
            :zen.fhir/version "0.6.23",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v3-RouteOfAdministration",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/v3-IntrapericardialRoute",
            :version "2.0.0"}}
