{ns hl7-terminology-r5.value-set.v3-MultiUseContainerEntityType,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "A container intended to contain sufficient material for more than one use. (I.e. Material is intended to be removed from the container at more than one discrete time period.)",
            :zen.fhir/version "0.6.30-7",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v3-EntityCode",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/v3-MultiUseContainerEntityType",
            :version "2.0.0"}}
