{ns hl7-terminology-r5.value-set.v3-ObservationCoordinateAxisType,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen.fhir/version "0.6.22-1",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/epsg-ca",
                                  :zen.fhir/content :not-present}},
            :uri "http://terminology.hl7.org/ValueSet/v3-ObservationCoordinateAxisType",
            :version "2.0.0"}}
