{ns hl7-terminology-r5.value-set.v3-ObservationDiagnosisTypes,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "An observation about the presence (or absence) of a particular disease state in a subject.",
            :zen.fhir/version "0.6.31",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v3-ActCode",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/v3-ObservationDiagnosisTypes",
            :version "2.0.0"}}
