{ns hl7-terminology-r5.value-set.v3-ObservationMethod,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "A code that provides additional detail about the means or technique used to ascertain the observation.\r\n\r\n*Examples:* Blood pressure measurement method: arterial puncture vs. sphygmomanometer (Riva-Rocci), sitting vs. supine position, etc.\r\n\r\n*Constraints:* In all observations the method is already partially specified by the Act.code. In this case, the methodCode NEED NOT be used at all. The methodCode MAY still be used to identify this method more clearly in addition to what is implied from the Act.code. However, an information consumer system or process SHOULD NOT depend on this methodCode information for method detail that is implied by the Act.code.\r\n\r\nIf the methodCode is used to express method detail that is also implied by the Act.code, the methodCode MUST NOT be in conflict with the implied method of the Act.code.",
            :zen.fhir/version "0.6.42",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v3-ObservationMethod",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/v3-ObservationMethod",
            :version "2.0.0",
            :ftr {:module "hl7-terminology-r5",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
