{ns hl7-terminology-r5.value-set.v3-ObservationInterpretationExceptions,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Technical exceptions resulting in the inability to provide an interpretation. At most one allowed. Does not imply normality or severity.",
            :zen.fhir/version "0.6.30-14",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v3-ObservationInterpretation",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/v3-ObservationInterpretationExceptions",
            :version "2.0.0"}}
