{ns hl7-terminology-r5.value-set.v3-ParticipationResponsibleParty,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "The person or organization that has primary responsibility for the act. The responsible party is not necessarily present in an action, but is accountable for the action through the power to delegate, and the duty to review actions with the performing actor after the fact. This responsibility may be ethical, legal, contractual, fiscal, or fiduciary in nature.\r\n\r\n*Example:* A person who is the head of a biochemical laboratory; a sponsor for a policy or government program.",
            :zen.fhir/version "0.6.22-2",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v3-ParticipationType",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/v3-ParticipationResponsibleParty",
            :version "2.0.0",
            :ftr {:module "hl7-terminology-r5",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
