{ns hl7-terminology-r5.value-set.v3-PlaceEntityType,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Types of places for EntityClass \"PLC\"",
            :zen.fhir/version "0.6.30-14",
            :fhir/code-systems #{{:fhir/url "urn:iso:std:iso:3166",
                                  :zen.fhir/content :not-present}
                                 {:fhir/url "http://terminology.hl7.org/CodeSystem/v3-EntityCode",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/v3-PlaceEntityType",
            :version "2.0.0"}}
