{ns hl7-terminology-r5.value-set.v3-RoleClassSame,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "The \"same\" roleclass asserts an identity between playing and scoping entities: that they are in fact instances of the same entity and, in the case of discrepancies (e.g different DOB, gender), that one or both are in error.\r\n\r\n*Usage:*\r\n\r\nplaying and scoping entities must have same classcode, but need not have identical attributes or values.\r\n\r\n*Example:* \r\n\r\na provider registry maintains sets of conflicting demographic data for what is reported to be the same individual.",
            :zen.fhir/version "0.6.22-2",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v3-RoleClass",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/v3-RoleClassSame",
            :version "2.0.0",
            :ftr {:module "hl7-terminology-r5",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
