{ns hl7-terminology-r5.value-set.v3-RoleStatusSuspended,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "The state that represents a suspension of the Entity playing the Role. This state is arrived at from the \"active\" state.",
            :zen.fhir/version "0.6.30-7",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v3-RoleStatus",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/v3-RoleStatusSuspended",
            :version "2.0.0",
            :ftr {:module "hl7-terminology-r5",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
