{ns hl7-terminology-r5.value-set.v3-RoleClassSubstancePresence,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "The presence of an bio-chemical entity (substance) at a location or environment, such as an ingredient in a mixture, molecular part of a complex, a located entity at a cellular structure, or content of a container, such as a vesicle.",
            :zen.fhir/version "0.6.30-7",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v3-RoleClass",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/v3-RoleClassSubstancePresence",
            :version "2.0.0"}}
