{ns hl7-terminology-r5.value-set.v3-RehabilitationHospital,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "(X12N 283X00000N)",
            :zen.fhir/version "0.6.31",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v3-RoleCode",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/v3-RehabilitationHospital",
            :version "2.0.0",
            :ftr {:module "hl7-terminology-r5",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
