{ns hl7-terminology-r5.value-set.v3-xPayeeRelationshipRoleType,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "The specification of the relationship to the covered party of the payee in the case when an insurer is not directly paying the healthcare provider (as payee) but reimbursing the party that did pay them.",
            :zen.fhir/version "0.6.24",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v3-RoleCode",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/v3-xPayeeRelationshipRoleType",
            :version "2.0.0",
            :ftr {:module "hl7-terminology-r5",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
