{ns hl7-terminology-r5.value-set.yes-no-unknown-not-asked,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "This value set contains 4 concepts commonly used as answers to items in a questionnaire.",
            :zen.fhir/version "0.6.42",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v2-0532",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/yes-no-unknown-not-asked",
            :version "1.0.0",
            :ftr {:module "hl7-terminology-r5",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
