{ns hl7-terminology-r5.ext-mif-relationship-relationshipKind,
 import #{zen.fhir
          hl7-fhir-r5-core.code
          hl7-terminology-r5.value-set.mif-conceptRelationshipKind},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "Identifies a type of relationship between codes that is supported by this code system version",
         :zen.fhir/type "code",
         :zen.fhir/profileUri "http://terminology.hl7.org/StructureDefinition/ext-mif-relationship-relationshipKind",
         :zen.fhir/version "0.6.29",
         :confirms #{hl7-fhir-r5-core.code/schema},
         :zen.fhir/value-set {:symbol hl7-terminology-r5.value-set.mif-conceptRelationshipKind/value-set,
                              :strength :required}}}
