{ns hl7-terminology-r5.ext-mif-relationship-isNavigable,
 import #{hl7-fhir-r5-core.boolean zen.fhir},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Indicates whether the relationship is intended to be navigated when selecting a code",
         :zen.fhir/type "boolean",
         :zen.fhir/profileUri "http://terminology.hl7.org/StructureDefinition/ext-mif-relationship-isNavigable",
         :zen.fhir/version "0.6.25-1",
         :confirms #{hl7-fhir-r5-core.boolean/schema}}}
