{ns hl7-terminology-r5.ext-namingsystem-version,
 import #{zen.fhir hl7-fhir-r5-core.string},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "The business version associated with the Naming System",
         :zen.fhir/type "string",
         :zen.fhir/profileUri "http://terminology.hl7.org/StructureDefinition/ext-namingsystem-version",
         :zen.fhir/version "0.6.22",
         :confirms #{hl7-fhir-r5-core.string/schema}}}
